<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=pageTitle%></title>
    <%- include("../common/common.ejs")%>
    <link rel="stylesheet" href="/css/shared.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="icon"><i class="fas fa-user-plus"></i> Register</h1>
      <form
        action="/api/v1/auth/register"
        method="post"
        class="form"
        enctype="multipart/form-data"
      >
        <div class="form__control">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" placeholder="Enter name" />
        </div>
        <div class="form__control">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter email"
          />
        </div>
        <div class="form__control">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter Password"
          />
        </div>
        <div class="form__control">
          <label for="confirmPassword">Confirm Password</label>
          <input
            type="password"
            name="confirmPassword"
            id="confirmPassword"
            placeholder="Enter confirm password"
          />
        </div>
        <div class="form__control">
          <label for="profilePic">Upload Profile Picture</label>
          <input
            type="file"
            name="profilePic"
            id="profilePic"
            multiple
            placeholder="Upload Picture"
          />
        </div>
        <div class="form__control">
          <button type="submit" class="btn btn-red">Register</button>
        </div>
      </form>
      <span class="span">Have an account?</span>
      <span><a href="/auth/login"> Login </a> </span>
    </div>
  </body>
</html>
